{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}


<h2>Cloudinary Upload Testing</h2>
<!-- loop through all the images -->

<div class="container">

    {% for pic in photo %}
    <h2>{{pic.song_name}}</h2>
    <img src="{{pic.image.url}}" alt="fish" height="20%" width="20%">
    <img src="{{pic.image1.url}}" alt="image1" height="22%" width="22%">
    
    <div>
        <audio controls style="padding-top: 2%;">
            <source src="{{pic.song.url}}" id="mediasource">
        </audio>
    </div>
    {% endfor %}
</div>
    
{% endblock body %}